@page "/"
@using GenOne.Geolocation
@using GenOne.Blazor.Map
@inject IUserLocationProvider userLocationProvider
<h1>Hello, world!</h1>

<Map Class="mapClass" Zoom="15" InitViewPosition="InitialLocation" MarkerPositionChanged="x => _currentPosition = x"></Map>

<h3>Current marker position: Lat: @_currentPosition.Latitude Lon: @_currentPosition.Longitude</h3>

<h3>Current user position: Lat: @CurrentUserPosition.Latitude Lon: @CurrentUserPosition.Longitude</h3>

<style>
    .mapClass {
        height: 70vh;
        width: 100vw;
    }
</style>

@code {

    protected override void OnInitialized()
    {
        userLocationProvider.Subscribe(x =>
        {
            CurrentUserPosition = x.Location;
            MainThread.BeginInvokeOnMainThread(StateHasChanged);
        });
    }

    private GpsLocation CurrentUserPosition { get; set; } = GpsLocation.Empty;

    private static readonly GpsLocation InitialLocation = new (-18.911030, 47.525131);
    
    private GpsLocation _currentPosition = GpsLocation.Empty;
}
