@page "/"
@using GenOne.Geolocation
@using GenOne.Blazor.Map
@inject IUserLocationProvider userLocationProvider
<h1>Hello, world!</h1>

<Map @ref="_map" Class="mapClass" Zoom="15" InitViewPosition="InitialLocation" MarkerPositionChanged="x => _currentPosition = x" @bind-FollowConsumerLocation="_followConsumerLocation" MarkerLocationCanBeChanged="_markerLocationCanBeChanged"></Map>

<h3>Current marker position: Lat: @_currentPosition?.Latitude Lon: @_currentPosition?.Longitude</h3>

<h3>Current user position: Lat: @CurrentUserPosition.Latitude Lon: @CurrentUserPosition.Longitude</h3>

<button @onclick="Callback">go to markers</button>
<button @onclick="() => _followConsumerLocation = !_followConsumerLocation">_followConsumerLocation : @_followConsumerLocation</button>
<button @onclick="() => _markerLocationCanBeChanged = !_markerLocationCanBeChanged">_markerLocationCanBeChanged : _markerLocationCanBeChanged</button>

<style>
    .mapClass {
        height: 70vh;
        width: 100vw;
    }
</style>

@code {
	public Map _map;

	public bool _followConsumerLocation;
    public bool _markerLocationCanBeChanged;

    protected override void OnInitialized()
    {
        userLocationProvider.Subscribe(x =>
        {
            CurrentUserPosition = x.Location;
            MainThread.BeginInvokeOnMainThread(StateHasChanged);
        });
    }

    private GpsLocation CurrentUserPosition { get; set; } = GpsLocation.Empty;

    private static readonly GpsLocation InitialLocation = new (-18.911030, 47.525131);
    
    private GpsLocation? _currentPosition = GpsLocation.Empty;

    private async Task Callback()
    {
	    await _map.ViewAllMarkers();

    }

}
