$background-color: #fff;
$foreground-color: #000;
$divider-color: #dcdcdc;
$overlay-color: #000000ec;
$transition-duration: 0.25s;
$overlay-opacity: 0.5;
$border-radius: 1rem;
$max-width: 70rem;

.sheet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3000;
    visibility: visible;
}

.sheet[data-bs-scroll] {
    overflow-y: hidden;
}

.sheet[aria-hidden] {
    pointer-events: none;
}

.sheet .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: $overlay-color;
    transition: opacity $transition-duration;
}

.sheet:not([aria-hidden]) .overlay {
    opacity: $overlay-opacity;
}

.sheet[aria-hidden] .overlay {
    opacity: 0;
}

.sheet .contents {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius $border-radius 0 0;
    background: $background-color;
    overflow-y: hidden;
    max-width: 70rem;
    max-height: 100vh;
    height: 0vh;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
}

.sheet .contents[full-screen] {
    border-radius: 0;
}

.sheet:not([data-bs-scroll]) .contents {
    transition: height $transition-duration;
    user-select: none;
    overflow: hidden !important;
}

.sheet .contents.fullscreen {
    border-radius: 0;
}

.sheet .controls {
    display: flex;
}

.sheet .draggable-area {
    position: absolute;
    width: 100%;
    height: 6rem;
    cursor: grab;
}

.sheet .draggable-area-wrap {
    position: relative;
}

.sheet .draggable-thumb {
    width: inherit;
    height: 0.25rem;
    background: $divider-color;
    border-radius: 0.125rem;
}

.sheet .close-sheet {
    border: none;
    padding: 0.7rem;
}

.sheet .bottom-sheet-body {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    gap: 1rem;
    box-sizing: border-box;
    z-index: 1;
    overscroll-behavior: none; //stop the bounce effect
}
